<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Shelter</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'shelterapp/css/style.css' %}">
    <link rel="icon" href="{% static 'shelterapp/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <h1>Welcome to the Animal Shelter</h1>

    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}! You are logged in.</p>
        <ul>
            <li><a href="{% url 'view_animals' %}">View Animals in the Shelter</a></li>
            <li><a href="{% url 'submit_animal' %}">Submit a New Animal</a></li>
            <li><a href="{% url 'add_med_record' %}">Add Medical Record</a></li>
            <li><a href="{% url 'view_shelters' %}">View Shelter Locations</a></li>
            <li><a href="{% url 'view_employees' %}">View Employees</a></li>
            <li><a href="{% url 'view_shelters' %}">View Shelter Locations</a></li>
            <li><a href="{% url 'view_paychecks' %}">View Employee Paychecks</a></li>
            <li><a href="{% url 'view_medical_records' %}">View Medical Records</a></li>
            <li><a href="{% url 'view_donations' %}">View Donations</a></li>
            <li><a href="{% url 'medical_records_search' %}">Medical Records Search</a></li>
        </ul>
    {% else %}
        <ul>
            <li><a href="{% url 'adopter_login' %}">Login</a></li>
            <li><a href="{% url 'adopter_signup' %}">Sign Up</a></li>
        </ul>
    {% endif %}
</body>
</html>
