<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit a New Animal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'shelterapp/css/style.css' %}">
    <link rel="icon" href="{% static 'shelterapp/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <h1>Submit a New Animal</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Animal</button>
    </form>

    <br>
    <a href="{% url 'default_page' %}">Back to Main Page</a>
</body>
</html>
