<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Employees</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'shelterapp/css/style.css' %}">
    <link rel="icon" href="{% static 'shelterapp/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <h1>Employees</h1>

    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Hire Date</th>
            <th>Salary</th>
            <th>Location Name</th>
            <th>Status</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.firstName }}</td>
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.position }}</td>
            <td>{{ employee.phoneNumber }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.hireDate }}</td>
            <td>{{ employee.salary }}</td>
            <td>{{ employee.workLocation }}</td>
            <td>{{ employee.status }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="11">No medical records available.</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="{% url 'default_page' %}">Back to Main Page</a>
</body>
</html>
