<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Adoption Requests</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'shelterapp/css/style.css' %}">
    <link rel="icon" href="{% static 'shelterapp/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <li><a href="{% url 'adopter_dashboard' %}">Dashboard</a></li>
    <h1>Adoption Requests</h1>

    <table>
        <thead>
            <tr>
                <th>Animal Name</th>
                <th>Adoption Date</th>
                <th>Adoption Status</th>
                {% if user.is_staff %}
                    <th>Staff Administrator</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for request in adoption_requests %}
                <tr>
                    <td>{{ request.animalID.name }}</td>
                    <td>{{ request.dateAdopted }}</td>
                    <td>{{ request.adoptionStatus }}</td>
                    {% if user.is_staff %}
                        <td>{{ request.staffAdministrator }}</td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="{% if user.is_staff %}4{% else %}3{% endif %}">No adoption requests have been made.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="{% url 'default_page' %}">Back to Main Page</a>
</body>
</html>
