<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Donations</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'shelterapp/css/style.css' %}">
    <link rel="icon" href="{% static 'shelterapp/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div id="header">
        <a href="{% url 'default_page' %}">
            <p id="title">
                <img src="{% static 'shelterapp/images/' %}pawprint.png" alt="pawprint" id="logo">
                PawPrints Rescue Center
            </p>
        </a>

        {% if user.is_authenticated %}
            <ul id="nav">
                <li><a href="{% url 'default_page' %}">Home</a></li>
                {% if user.is_staff %}
                    <li><a href="{% url 'staff_dashboard' %}">Dashboard</a></li>
                {% else %}
                    <li><a href="{% url 'adopter_dashboard' %}">Dashboard</a></li>
                {% endif %}
                <li><a href="{% url 'view_animals' %}">Our Animals</a></li>
                <li><a href="{% url 'view_shelters' %}">Locations</a></li>
                <li>
                    <form id="logout" method="POST" action="{% url 'user_logout' %}">
                        {% csrf_token %}
                        <button type="submit">Sign Out</button>
                    </form>
                </li>
            </ul>
        {% else %}
            <ul id="nav">
                <li><a href="{% url 'default_page' %}">Home</a></li>
                <li><a href="{% url 'view_animals' %}">Our Animals</a></li>
                <li><a href="{% url 'view_shelters' %}">Locations</a></li>
                <li><a href="{% url 'adopter_login' %}">Login</a></li>
                <li><a href="{% url 'adopter_signup' %}">Sign Up</a></li>
            </ul>
        {% endif %}
    </div>

    <h1>Donations</h1>

    <table>
        <tr>
            <th>Location ID</th>
            <th>Donation Amount</th>
            <th>Date</th>
            <th>Donor Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
        {% for donation in donations %}
        <tr>
            <td>{{ donation.locationID }}</td>
            <td>{{ donation.amount }}</td>
            <td>{{ donation.donationDate }}</td>
            <td>{{ donation.donorName }}</td>
            <td>{{ donation.phoneNumber }}</td>
            <td>{{ donation.email }}</td>
            <td>{{ donation.address }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="11">No donations available.</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
