<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Animals</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'shelterapp/css/style.css' %}">
    <link rel="icon" href="{% static 'shelterapp/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <h1>Animals in the Shelter</h1>

    <table>
        {% for animal in animals %}
            <li>
                <img src="{% static 'shelterapp/images/animals/' %}{{ animal.animalID }}.png" alt="{{ animal.name }}" width="200" height="200">
                <br>
                <a href="{% url 'animal_profile' animal.animalID %}">
                    {{ animal.name }} - {{ animal.species }}
                </a>
            </li>
        {% empty %}
        <tr>
            <td colspan="11">No animals available.</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="{% url 'default_page' %}">Back to Main Page</a>
</body>
</html>
