<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Shelters</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'shelterapp/css/style.css' %}">
    <link rel="icon" href="{% static 'shelterapp/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <h1>Shelter Locations</h1>

    <table>
        <tr>
            <th>Location Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Capacity</th>
            <th>Current Occupancy</th>
            <th>Funds</th>
        </tr>
        {% for shelter in shelters %}
        <tr>
            <td>{{ shelter.locationName }}</td>
            <td>{{ shelter.address }}</td>
            <td>{{ shelter.phoneNumber }}</td>
            <td>{{ shelter.capacity }}</td>
            <td>{{ shelter.currentOccupancy }}</td>
            <td>{{ shelter.funds }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="11">No shelters available.</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="{% url 'default_page' %}">Back to Main Page</a>
</body>
</html>
